* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;

}


.bb{
  background-color: #2ECC71;
}
 
.bb a{
  
  
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-decoration: none;
 
  
 

}

h3 {
   
  

    padding-bottom: 30px;
    font-size: xx-large;
    text-align: center;
    
}
h1 {
 
background-color: #2ECC71;
  line-height: 1.5em;
  border-radius: 4%;
  width: 249%;
  text-align: center;

  
}


ul.Header li {
  display: inline;
  font-size: 18px;


}
  
   
.Header li a{
text-decoration: none;
color: #000000;
}

p{
  font-size: x-large;
  color: #ffffff;
  text-align: center;
  margin: 5%;
  
}

body {
   
   
    width: 100%;
    height: 100%;
    background: linear-gradient(to top,rgba(0, 0, 0, 0.5)50%,rgba(0,0,0,0.5)50%),no-repeat center center fixed url(booking.png);
    background-position: center;
    background-size: cover;
  }


h2 {
  text-align: center;
  font-size: 190%;
}

.summary {
  background-color: #f3f3f3;
  border: 1px solid #000000;
  padding: 20px;
  margin: 20px 0;
}

.user-details-table, .details-summary-table {
  margin-bottom: 20px;
}

.user-details-table table, .details-summary-table table {
  width: 100%;
  border-collapse: collapse;
}

.user-details-table td, .details-summary-table td {
  padding: 10px;
  border: 1px solid #ddd;
}

.sub-head {
  background-color: #d7d6d6;
  font-weight: bold;
}
tfoot td {
  font-weight: bold;
}


  